{% extends 'layout/base.html' %}

{% block head_content %}
{% include 'layout/partials/head.html' %}
{% endblock %}

{% block main_menu_content %}
{% include 'layout/partials/main_menu.html' %}
{% endblock %}

{% block body_content %}
<header class="masthead">
      <div> 
        <div>
			{% block snpashot_content %}
			{% include 'layout/partials/snapshot.html' %}
			{% endblock %}        	
        	<h4>Main Invoices View</h4>
        </div>
    </div>
</header>

{% endblock %}

{% block footer_content %}
{% include 'layout/partials/footer.html' %}
{% endblock %}