{% block header %}

 <!-- Navigation -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="somelink">Action</a>
    <a class="dropdown-item" href="somelink">Another action</a>
    <a class="dropdown-item" href="somelink">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="somelink">Separated link</a>
  </div>
</div>
{% endblock %}