<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Centerprise - 2.0</title>
    <!-- Head_Content -->
    {% block head_content %}{% endblock %}    
    

  </head>

  <body id="page-top">
    <!-- Menu_Content -->
    {% block menu_content %}{% endblock %}

    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">

    
        <!-- Body_Content -->
        {% block body_content %}{% endblock %}


      </div>
    </header>

    <!-- Footer -->
    {% block footer_content %}{% endblock %}
  </body>
</html>