<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Centerprise - 2.0</title>
    <!-- Head_Content -->
    {% block head_content %}{% endblock %}
  </head>

  <body id="page-top">
    <div class="container-fluid">
        <!-- Main_Menu_Content -->
        {% block main_menu_content %}{% endblock %}
        
        <!-- Login_Menu_Content -->
        {% block login_menu_content %}{% endblock %}

        <!-- Snapshot_Content -->
        {% block snapshot_content %}{% endblock %}

        <!-- Body_Content -->
        {% block body_content %}{% endblock %}

        <!-- Footer_Content -->
        {% block footer_content %}{% endblock %}
    </div>
  </body>
</html>