{% extends 'layout/base.html' %}

{% block head_content %}
{% include 'layout/partials/head.html' %}
{% endblock %}

{% block menu_content %}
{% include 'layout/partials/login_menu.html' %}
{% endblock %}

{% block body_content %}
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Centerprise 2.0</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Centers Business Office Invoices, Expenses and Payroll Allocation Across Facilities</h2>

          {% if current_user.is_authenticated %}
            <p id="welcome-message">Welcome back, {{ current_user.username }}!</p>
            <p>Not {{ current_user.username }}? - <a href="{{ url_for('security.logout') }}">Logout</a></p>
          {% else %}
            <p><a href="{{ url_for('security.login') }}">Click Here to Login</a></p>
          {% endif %}
        </div>
{% endblock %}

{% block footer_content %}
{% include 'layout/partials/footer.html' %}
{% endblock %}
